body {
    margin: 0;
    background-color: rgb(14, 79, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.card {
    background-color: rgb(246, 239, 239);
    margin: 0px 30px;
    padding: 20px;
    border-radius: 30px;
}
  