h1 {
    /* border-width: 2px;
    border-color: red;
    border-style: solid; */
    border-top: 4px dashed rgb(148, 17, 196);
    border-left: 5px dotted rgb(219, 67, 92);
    border-right: 8px dotted rgb(169, 227, 9);
    border-bottom: 6px solid rgb(18, 122, 177);
  }
  