/* p {
            color: rgb(255, 98, 0);
         }
         h1 {
            color: rgb(4, 126, 4);

         } */
h1 {
    color: rgb(4, 26, 92);
}

li {
    color: rgb(138, 78, 195);
}

p {
    color: rgb(201, 61, 84);
}