/* #pageTitle {
    color: red;
    background-color: darkblue;
 }
 .blueColor {
    color: blue;
 }

 #overview {
    color: blue;
    background-color: orange;
 } */


/* RGB Color & HEX Color & RGBA */
 body {
    background-color: rgb(188, 150, 188);
    color: #f4f0f0;
 }

 #overview {
    color: rgb(131, 30, 82);
    /* opacity: 0.8; */
 } 